---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "mixins";
@import "variables";

/*========================================================
                      Contact Form
=========================================================*/

$input-height: 80px;
$input-offset-top: 10px;
$input-padding: 30px 40px;
$input-font-family: $primary-font;
$input-font-size: 14px;
$input-line-height: 20px;
$input-color: #fff;
$input-border-radius: 3px;
$input-brdr: none;
$input-font-weight: 300;
$input-background: #373739;

$textarea-height: 212px;

$placeholder-clr: $input-color;
$placeholder-opacity: 1;

/* MF
========================================================*/
.mailform {
  position: relative;
  text-align: left;
  margin-left: auto;
  margin-right: auto;

  fieldset {
    border: none;
  }

  * {
    @include box-sizing(border-box);
  }
}

.mailform label {
  position: relative;
  display: inline-block;
  width: 65%;
  margin-top: $input-offset-top;

  @media (max-width: 767px) {
    width: 100%;
  }

  &:first-child {
    margin-top: 0;
  }

  input, select, textarea {
    display: block;
    width: 100%;
    margin: 0;
    -webkit-appearance: none;
    outline: none;
    font-family: $input-font-family;
    font-size: $input-font-size;
    padding: $input-padding;
    line-height: $input-line-height;
    color: $input-color;
    background: $input-background;
    border: $input-brdr;
    @include border-radius($input-border-radius);
    font-weight: $input-font-weight;


    &:-moz-placeholder {
      color: $placeholder-clr;
      opacity: $placeholder-opacity;
    }

    &::-webkit-input-placeholder {
      color: $placeholder-clr;
      opacity: $placeholder-opacity;
    }

    &::-moz-placeholder {
      color: $placeholder-clr;
      opacity: $placeholder-opacity;
    }

    &:-ms-input-placeholder {
      color: $placeholder-clr;
      opacity: $placeholder-opacity;
    }
  }

  textarea {
    resize: vertical;
    overflow: auto;
    height: $textarea-height;
  }

  @media (max-width: 1365px) {
    margin-top: 30px;
  }
}

@import "mailform_modules/mf-animation";
@import "mailform_modules/mf-placeholder";
@import "mailform_modules/mf-validation";
@import "mailform_modules/mf-submit";
//@import "mailform_modules/mf-icon";
//@import "mailform_modules/mf-select";
//@import "mailform_modules/mf-datepicker";










