---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "mixins";
@import "variables";
@import "animate";

// Fonts
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300);

/*========================================================
                      Main Styles
=========================================================*/
body {
    color: #bbbaba;
    font: 400 14px/23px $default-font;
    -webkit-text-size-adjust: none;
    background: map-get($scheme, secondary);
}

img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $primary-font;
    font-weight: 300;
    line-height: 1;
}

h1{

    font-size: 150px;

    @media (max-width: 991px){
        font-size: 120px;
    }

    @media (max-width: 767px) {
        font-size: 85px;
    }

    @media (max-width: 479px) {
        font-size: 55px;
    }
}

h2{
    font-size: 100px;
    color: map-get($scheme, secondary);

    @media (max-width: 767px) {
        font-size: 80px;
    }
}

h3{
    font-size: 75px;

    @media (max-width: 767px) {
        font-size: 50px;
    }

    @media (max-width: 479px) {
        font-size: 40px;
    }
}

h4{
    font-size: 50px;

    @media (max-width: 767px) {
        font-size: 40px;
    }

    @media (max-width: 479px) {
        font-size: 35px;
    }
}

h5{
    font-size: 40px;
    color: map-get($scheme, primary);

    @media (max-width: 767px) {
        font-size: 30px;
    }
}

h6{
    font-size: 20px;
}

p, .marked-list, .list{
	a:hover{
        text-decoration: underline;
    }

    .fa{
    	text-decoration: none;
    }
}

time {
   display: block;
}

a {
    font: inherit;
    color: inherit;
    text-decoration: none;

    &:focus{
        outline: none;
    }

    &:active{
        background-color: transparent;
    }

    @include transition(.3s);
}

a[href^="tel:"],
a[href^="callto:"] {
    color: inherit;
    text-decoration: none;
}

strong {
    font-weight: 700;
}

.fa{
	line-height: inherit;
}

[class*='fa-']{
    &:before{
        font-weight: 400;
    	font-family: $fa;
    }
}

.page {
    overflow: hidden;
    min-height: 500px;

    .lt-ie9 & {
        min-width: 1200px;
    }
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.white{
    color: #FFFFFF;
}

*[hidden] {
    display: none !important;
}

/*=======================================================
                       Main Layout
=========================================================*/

h2 + h5{
    margin-top: 65px;
}
h1 + h5{
    margin-top: 10px;
}
h3 + h1{
    margin-top: -10px;

    @media (max-width: 767px) {
        margin-top: 10px;
    }
}
.badge + h2{
    margin-top: 10px;
}
* + p{
    margin-top: 20px;
}
* + .btn-2{
    margin-top: 40px;
}
* + .inline-list{
    margin-top: 20px;
}
/*=======================================================
                        Components
=========================================================*/

/*==================     Brand     ======================*/
.brand {
    display: inline-block;
    font-family: $primary-font;
    font-weight: 300;
    color: #FFFFFF;

    &_name{
        overflow: hidden;
        color: #666;
    }
    &_slogan{
        display: inline-block;
        position: relative;
        font-size: 20px;
        height: 42px;
        width: 330px;
        background: #666;
        line-height: 42px;

        @media (max-width: 479px) {
            width: 270px;
        }
    }

    .brand_name + .brand_slogan{
        margin-top: 30px;
    }
}
/*==================     Triangle     ======================*/
.before{
    position: absolute;
    width: 21px;
    height: 42px;
    top: 0;
    right: 100%;

    &:before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        @include triangle(top_right, 10px, 21px, #666);
    }
    &:after{
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        @include triangle(bottom_right, 10px, 21px, #666);
    }
    &__mod{
        &:before{
            @include triangle(top_right, 10px, 21px, map-get($scheme, primary));
        }
        &:after{
            @include triangle(bottom_right, 10px, 21px, map-get($scheme, primary));
        }
    }
}
.after{
    position: absolute;
    width: 21px;
    height: 42px;
    top: 0;
    left:  100%;

    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        @include triangle(top_left, 21px, 10px, #666);
    }
    &:after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        @include triangle(bottom_left, 21px, 10px, #666);

    }

    &__mod{
        &:before{
            @include triangle(top_left, 21px, 10px, map-get($scheme, primary));
        }
        &:after{
            @include triangle(bottom_left, 21px, 10px, map-get($scheme, primary));
        }
    }
}
/*==================  Badge ======================*/
.badge{
    background: map-get($scheme, primary);
    display: inline-block;
    position: relative;
    font-size: 20px;
    height: 42px;
    width: 340px;
    line-height: 42px;
    text-align: left;
    padding-left: 25px;
    padding-right: 20px;
    color: #FFFFFF;
    font-family: $primary-font;
    font-weight: 300;

    @media (max-width: 479px) {
        width: 270px;
    }

    &__mod{
        text-align: right;
    }
}
/*==================  Backgrounds  ======================*/
.bg-primary{
    background: map-get($scheme, primary);
}
/*==================     Icons     ======================*/
.fa-facebook,
.fa-instagram,
.fa-envelope-o {
    font: 400 25px/85px $fa;
    color: #FFFFFF;
    background: #7E827A;
    width: 85px;
    height: 85px;
    text-align: center;
    @include border-radius(3px);

    &:hover {
        background: map-get($scheme, primary);
    }

    &:active{
        background: darken(map-get($scheme, primary), 10%);
    }
}

/*==================    Buttons    ======================*/
.btn{
    display: inline-block;
    width: 85px;
    height: 85px;
    @include border-radius(3px);
    background: map-get($scheme, primary);
    text-align: center;

    span{
        font: 400 25px/85px $fa;
        color: #FFFFFF;
    }

    &:hover{
        background: #7E827A;
    }

    &:active{
        background: darken(#7E827A, 10%);
    }

    @media (max-width: 479px) {
        width: 65px;
        height: 65px;
        span{
            font: 400 25px/65px $fa;
        }
    }
}

.btn-2{
    display: inline-block;
    width: 240px;
    text-transform: uppercase;
    @include border-radius(3px);
    background: map-get($scheme, primary);
    color: #FFFFFF;
    font: 400 15px/85px $primary-font;
    padding: 0 25px 0 75px;
    @include transition(.3s);
    position: relative;
    text-align: center;

    &:hover{
        background: #7E827A;
    }

    &:active{
        background: darken(#7E827A, 10%);
    }
}

.btn-amazon {

    &:before{
        content: $fa-amazon;
        position: absolute;
        top: 0;
        left: 25px;
        color: #FFFFFF;
        font: 400 25px/85px $fa;
    }
}

.btn-subscribe {

    &:before{
        content: $fa-envelope;
        position: absolute;
        top: 0;
        left: 25px;
        color: #FFFFFF;
        font: 400 25px/85px $fa;
    }
}

/*==================      Box      ======================*/
.box {
    @include clearfix();

    &_aside{
        float: left;
    }

    &_cnt{

    }

    &_cnt__no-flow{
        overflow: hidden;
    }
}
/*==================  Banner ======================*/

@mixin banner($dir1, $dir2) {
    position: relative;
    padding: 150px 0 140px;
    height: 660px;

    @media (max-width: 1199px) {
        padding: 120px 0 60px;
        height: auto;
    }

    &:before{
        position: absolute;
        content: '';
        top: 0;
        #{$dir1}: 105%;
        @include triangle($dir2, 155px, 660px, #fff);
        z-index: 2;
        @media (max-width: 1599px) {
            #{$dir1}: 100%;
        }
        @media (max-width: 1199px) {
            display: none;
        }
    }

    &-img{
        width: 910px;
        position: absolute;
        top: 0;
        #{$dir1}: 105%;
        height: 100%;
        z-index: 1;

        @media (max-width: 1599px) {
            #{$dir1}: 100%;
        }

        img{
            height: 100%;
            width: 100%;
        }

        .btn{
            position: absolute;
            top: 50%;
            #{$dir1}: 42%;
            z-index: 3;
            margin-top: -44px;

            @media (max-width: 1399px) {
                #{$dir1}: 33%;
            }

        }
        @media (max-width: 1199px) {
            position: relative;
            top: 0;
            #{$dir1}: 0;
            width: 100%;
            margin-top: 30px;

            img{
                height: auto;
            }

            .btn{
                top: 50%;
                #{$dir1}: 50%;
                margin-top: -44px;
                margin-#{$dir1}: -44px;

                @media (max-width: 479px) {
                    margin-top: -33px;
                    margin-#{$dir1}: -33px;
                }

            }
        }
    }
}

.banner-left{
    @include banner(left, right);
}

.banner-right{
    @include banner(right, left);
}
//==================    Thumb-wrap    ======================
.thumb-wrap{
    @include clearfix();


    .thumb{
        float: left;
        width: 25%;
        height: auto;

        @media (max-width: 767px) {
            width: 50%;

        }
        @media (max-width: 479px) {
            width: 100%;
        }
    }
}

/*==================  Inline List  ======================*/
.inline-list {
    padding: 0;

    li {
        display: inline-block;
    }

    li + li {
        margin-left: 8px;
    }
}
//==================    Imports    ======================

@import "thumb";
@import "parallax";
@import "to-top";

/*========================================================
                     HEADER  Section
=========================================================*/
header {
    padding: 40px 0 560px;
    text-align: center;

    @media (max-width: 767px) {
        padding: 20px 0 380px;
    }
}

/*========================================================
                     CONTENT  Section
=========================================================*/
main {
    display: block;
    background: #FFFFFF;
}
.clr-secondary{
    color: map-get($scheme, secondary);
}
/*==================      Well     ======================*/
.product-full{
    height: 800px;

    .parallax_cnt {
        height: 100%;

        .container {
            height: 100%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            padding: 40px 0;

            &:before {
                content: none;
            }

            &:after {
                content: none;
            }

            .btn-2 {
                position: absolute;
                left: 50%;
                margin-left: -120px;
                bottom: 40px;
            }
        }
    }
}

/*========================================================
                     FOOTER  Styles
=========================================================*/
footer{
    padding: 40px 0 20px;

    .footer-bottom{
        padding-top: 40px;

        .copyright{
            font: 300 14px/20px $primary-font;
            color: #7E827A;
            padding-top: 20px;
        }
    }
}
