<header class="parallax" data-url="images/parallax1.jpg" data-mobile="true">

    <div class="container">
        <div class="brand">
            <span class="logo">EST. <img src="images/logo.png" alt=""> 2016</span>

            <h1 class="brand_name">{{ site.brandname | escape }}</h1>

            <div class="brand_slogan">
                <span class="before"></span>
                {{ site.tagline | escape }}
                <span class="after"></span>
            </div>
        </div>

    </div>

</header>
