/*==================     ToTop     ======================*/
.toTop {
  width: 50px;
  height: 50px;
  font-size: 24px;
  line-height: 46px;
  color: #fff;
  background: #7E827A;
  border-radius: 50%;
  @include box-shadow(4px 4px 8px 0 rgba(#000, .4));

  position: fixed;
  right: 40px;
  bottom: 40px;

  display: none;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  z-index: 20;

  &:hover {
    background: map-get($scheme, primary);
  }

  &:active{
      background: darken(map-get($scheme, primary), 10%);
  }
}

.mobile .toTop,
.tablet .toTop{
	display: none!important;
}


